<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350483487788-c33oqg8aeg67mgvvvo91mm6eoh3u9ada.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350483487788-c33oqg8aeg67mgvvvo91mm6eoh3u9ada</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Vx29YsrPWjcpsbAQCLlZPdmQyFw-DXU</string>
	<key>GCM_SENDER_ID</key>
	<string>350483487788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>clone-ac0d0</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-ac0d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350483487788:ios:52682c1ac0decb824f8589</string>
</dict>
</plist>